{%extends 'base.html'%}

{% block head%}


{% endblock %}

{% block body%}

<header>
  <nav class="main-nav" id="banner">
  <ul>
  <a href="{{ url_for('index') }}"><li>Home</li></a>
  <a href="{{ url_for('contact') }}" target="_blank" rel="noreferrer noopener"><li>Contact</li></a>
  <a href="{{ url_for('pwprotect') }}"><li>DB Admin</li></a>
  <!-- <a href="{{ url_for('show_user_profile', username = 'Joaquin') }}"><li>User Profile</li></a> -->
  <!-- <a><li class="btn" id="button1">Map</li></a> -->
  </ul>
  </nav>
</header>

    <h1 style="color:white;">{% block title %} Database Content {% endblock %}</h1>
    {% for post in posts %}
        <h2 style="color:white;"><b>{{ post['uname'] }}</b></h2>
        <p style="color:white;">{{ post['email'] }}</p>
        <p style="color:white;">{{ post['content'] }}</p>
        <p style="color:white;"><i>{{ post['created'] }}</i></p>
        <hr>
    {% endfor %}

{% endblock %}
