{%extends 'base.html'%}

{% block head%}
<meta charset="utf-8">

<script>
function restart() {
  window.location.reload(false);
}

</script>
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script>
<title>OpenLayers example</title>

{% endblock %}

{% block body%}

<header>
  <nav class="main-nav" id="banner">
  <ul>
  <a href="{{ url_for('index') }}"><li>Home</li></a>
  <a href="{{ url_for('contact') }}" target="_blank" rel="noreferrer noopener"><li>Contact</li></a>
  <a href="{{ url_for('pwprotect') }}"><li>DB Admin</li></a>
  <!-- <a href="{{ url_for('show_user_profile', username = 'Joaquin') }}"><li>User Profile</li></a> -->
  <a><li class="btn" id="button1">Show/Hide Map</li></a>
  </ul>
  </nav>
</header>

<div class="banner">

<h1 class="page-title"><center> MUSIC TELEPORTATION </center></h1>


<form action="{{ url_for("index")}}" method="post">
  <div class="form-item">
  <label id="dropname" for="mood"></label>
  <select name="moods" id="moods">
    <option value="">- Select Mood -</option>
    <option value="Happy">Happy</option>
    <option value="Mellow">Mellow</option>
    <option value="Energetic">Energetic</option>
    <option value="Relaxing">Relaxing</option></select>
  </div>

  <div class="form-item">
  <label id="dropname" for="location"></label>
  <select name="places" id="places">
  <option value="">- Select Location -</option>
  <option value="North America">North America</option>
  <option value="Asia">Asia</option>
  <option value="Europe">Europe</option>
  <option value="Africa">Africa</option>
  <option value="Australia">Australia</option>
  <option value="South America">South America</option></select>
  </div>

  <div class = "submit-btn">
  <input type="submit" value="Submit" onclick="restart()"/>
  </div>

</form>
</div>


<!-- We are using OpenStreetMaps, copyright © OpenStreetMap contributors, which is open data. OpenStreetMap's is 
licensed under the Open Data Commons Open Database License (ODbL) by the OpenStreetMap Foundation (OSMF). For more 
information please see: https://www.openstreetmap.org/copyright
-->
<div id="map" class="map"></div>

<script type="text/javascript">
  var map = new ol.Map({
    target: "map",
    layers: [
      new ol.layer.Tile({
        source: new ol.source.OSM(),
      }),
    ],
    view: new ol.View({
      center: ol.proj.fromLonLat([89.2343748, 51.2086975]),
      zoom: 3,
    }),
  });

  //Added marker for map
  var layer = new ol.layer.Vector({
     source: new ol.source.Vector({
         features: [
             new ol.Feature({
                 geometry: new ol.geom.Point(ol.proj.fromLonLat([89.2343748, 51.2086975]))

             })
         ]
     })
 });
 map.addLayer(layer);


</script>
<!-- Here we are using spotifies Iframe to link playlist from SPotifie's database. 
copyright Spotify and under the conditions laid out in the Spotify Developer Terms. 
For more information please see: https://developer.spotify.com/terms/
-->
<div class="spotify">
<iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWTvNyxOwkztu?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</div>

<script>

const targetDiv = document.getElementById("map");
const btn = document.getElementById("button1");
btn.onclick = function () {
  if (targetDiv.style.display !== "none") {
    targetDiv.style.display = "none";
  } else {
    targetDiv.style.display = "block";
  }
};

</script>


<!-- <style>
#map {
display:none;
}
</style> -->



{% endblock %}
