<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Password Protected Page</title>
    <script type="text/javascript">
        var s ="x";
        while (s!= "mypassword" && s !== null)
            {
            s=prompt("Please enter your password");
            if (s=="mypassword")
                {
                window.location.href="dbadmin";
                }
            else if (s=== null)
                {
                window.location.href="/";
                }
            else
                {
                alert("Incorrect password - try again");
                }
            } 
    </script>
</head>

<body>
</body>
</html>